{% extends "main/base.html" %}
{% load static %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading"></h2>
            <span class="meta">Posted by
              <a href="#">Toypanda</a>
              {{post.dateCreate}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{post.contents|linebreaks}}</p>
          {% if post.img %}
            <img class="img-fluid" src="{{post.img.url}}" alt="">
          {% endif %}
          <p>{{post.category.names.0}}</p>
        </div>
      </div>
    </div>
  </article>
<hr>
{% endblock %}
